# List, tuple, dictionary and set

In [ ]:
# List

# Empty list initialization
lst = []
lst = list()

lst = [1, 4, "Hello", 6.5, True]
print(lst)

[1, 4, 'Hello', 6.5, True]

In [2]:
# adding new item

lst.append("New item")
lst

[1, 4, 'Hello', 6.5, True, 'New item']

In [3]:
lst.insert(2, "Two")
lst

[1, 4, 'Two', 'Hello', 6.5, True, 'New item']

In [4]:
lst.pop()

'New item'

In [5]:
lst

[1, 4, 'Two', 'Hello', 6.5, True]

In [9]:
lst.index("Hello")

3

In [10]:
len(lst)

6

In [11]:
lst1 = ["One", "Two", "Three"]

In [12]:
lst.append(lst1)
lst

[1, 4, 'Two', 'Hello', 6.5, True, ['One', 'Two', 'Three']]

In [13]:
lst.extend(lst1)
lst

[1,
 4,
 'Two',
 'Hello',
 6.5,
 True,
 ['One', 'Two', 'Three'],
 'One',
 'Two',
 'Three']

In [14]:
l1 = [1, 2]
l2 = ["One", "Two"]
print(l1)
print(l2)

[1, 2]
['One', 'Two']

In [15]:
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 'One', 'Two']
['One', 'Two']

In [16]:
l1.reverse()
l1

['Two', 'One', 2, 1]

In [17]:
l1.sort()
l1

TypeError: '<' not supported between instances of 'int' and 'str'

In [25]:
numbers = [1, 4, 5, 6, 3, 2]
numbers

[1, 4, 5, 6, 3, 2]

In [20]:
sorted_num = numbers.sort()
numbers

[1, 2, 3, 4, 5, 6]

In [21]:
sorted_num = numbers.copy()
sorted_num.sort()
sorted_num

[1, 2, 3, 4, 5, 6]

In [22]:
sorted_num.sort(reverse=True)
sorted_num

[6, 5, 4, 3, 2, 1]

In [ ]:
# using for loop

for item in lst1:
    print(item)

One
Two
Three

In [ ]:
# using for with indexing

for i in range(len(numbers)):
    print(numbers[i])

1
4
5
6
3
2

In [27]:
# using while loop

i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

1
4
5
6
3
2

In [ ]:
numbers.sort()
numbers.reverse()
numbers

[6, 5, 4, 3, 2, 1]

In [36]:
mat = [[2, 4],[3, 5]]
print(mat)

[[2, 4], [3, 5]]

In [37]:
# List comprehension operations

[row for row in mat]

[[2, 4], [3, 5]]

In [38]:
for row in mat:
    print(row)

[2, 4]
[3, 5]

In [39]:
[col for row in mat for col in row]

[2, 4, 3, 5]

In [42]:
# List of even numbers from 1 to 50

[item for item in range(2, 51, 2)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [43]:
# Tuple

tpl = tuple()
tpl = ()

In [45]:
tpl = (5, 4)
print(tpl)

(5, 4)

In [46]:
tpl.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [47]:
tpl.append()

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
tpl.count(4)

1

In [55]:
coordinates = [(2, 3), (4, 5), (6, 7)]
c = ((2, 3), (4, 5), (6, 7))

In [56]:
# Set

st = set()

st = {}

In [58]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [59]:
set1 = {2, 4, 5, 4, 3, 2, 1}
print(set1)

{1, 2, 3, 4, 5}

In [61]:
set2 = set()
set2.add(3)
set2.add(4)
set2

{3, 4}

In [62]:
s = set1.intersection(set2)

In [63]:
s

{3, 4}

In [64]:
# Dictionary

dic = dict()
dic = {}

In [65]:
# key: value

numbers = {
    1: "One",
    2: "Two",
    3: "Three",
    "number": [1, 2, 3]
}
print(numbers)

{1: 'One', 2: 'Two', 3: 'Three', 'number': [1, 2, 3]}

In [67]:
info = {
    "name": "Ram", 
    "department": "Civil",
    "roll": 1,
    "marks": {"Drawing": 30, "Thermal": 35}
}

In [69]:
for i in info:
    print(f"{i} = {info[i]}")

name = Ram
department = Civil
roll = 1
marks = {'Drawing': 30, 'Thermal': 35}

In [71]:
info["marks"]

{'Drawing': 30, 'Thermal': 35}

In [72]:
info["address"] = "Lalitpur"
info

{'name': 'Ram',
 'department': 'Civil',
 'roll': 1,
 'marks': {'Drawing': 30, 'Thermal': 35},
 'address': 'Lalitpur'}

In [74]:
for k, v in info.items():
    print(f"{k}: {v}")

name: Ram
department: Civil
roll: 1
marks: {'Drawing': 30, 'Thermal': 35}
address: Lalitpur

In [75]:
info.items()

dict_items([('name', 'Ram'), ('department', 'Civil'), ('roll', 1), ('marks', {'Drawing': 30, 'Thermal': 35}), ('address', 'Lalitpur')])

### Problem: Computer System Performance Monitor
Scenario:
You are designing a System Performance Monitor that checks the CPU usage, memory usage, and disk usage of several computers in a small network.
The system evaluates whether each computer is performing well or needs attention.

Requirements:

You have 5 computers in your network (e.g., PC1, PC2, PC3, PC4, PC5).

For each computer, store simulated performance data (in %) for:
- CPU usage
- Memory usage
- Disk usage

Apply the following logic:

- If any usage > 85% → "Overloaded — needs optimization."
- If all usage < 60% → "Underutilized — can handle more tasks."
- Otherwise → "Normal performance."

Store all results in a list of dictionaries and display them neatly.

At the end, show the average CPU, memory, and disk usage across all computers.

# Functions

- Block of reusable code that performs specific task
- It can take input (parameters/arguments) and can return output
- Define using keyword `def`

### Structure of a function

<pre>
# function definition

def function_name(parameters[optional]):
    // body of the function
    return something [optional]

# function calling

variable[optional] = function_name(arguments[optional])

</pre>

### Working with function
1. Function declaration (not used)
2. Function definition
3. Function calling

### Types of function
1. No parameter and no return
2. with parameter but no return
3. with parameter and return
...

In [77]:
# function definition
# No argument, No return

def greet():
    print("Hello...")

In [79]:
# Calling function

greet()

Hello...

In [ ]:
# With argument

def say_hello(name):
    print(f"Hello, {name}. How are you?")

In [90]:
say_hello("Gopal")
say_hello("Hari")
say_hello("Ram")
say_hello("Sita")
name = "Ram"
say_hello(name)

Hello, Gopal. How are you?
Hello, Hari. How are you?
Hello, Ram. How are you?
Hello, Sita. How are you?
Hello, Ram. How are you?

In [91]:
# Make a function area, that takes l and b and return area.

def area(l, b):
    a = l * b
    return a

In [93]:
a = area(4, 5)
print(a)

20

In [94]:
print("Area of rectange is", area(5, 6))

Area of rectange is 30

In [ ]:
# Take two coordinates input from user and calculate distance
# Use get_coordinate() function for user input
# calculate_distance() function for distance calculation
# main() function for main code
# call main() to execulte whole program

In [102]:
import math

def get_coordinate():
    points = []
    for i in range(2):
        p = input(f"Enter x, y for point {i+1}").split(",")
        points.append(tuple(p))
    return points[0], points[1]

def calculate_distance(p1, p2):
    return math.sqrt(
        pow(float(p2[0]) - float(p1[0]), 2) + 
        pow(float(p2[1]) - float(p1[1]), 2)
    )

def main():
    p1, p2 = get_coordinate()
    distance = calculate_distance(p1, p2)
    
    print(f"The distance between points {p1} and {p2} is {distance}.")

main()

The distance between points ('2', '3') and ('2', '3') is 0.0.

## Default arguments, *args, & **kwargs

- Positional argument (*args)
- Keyword argument (**kwargs)

### WAP that uses functions to calculate and display a student’s grade.


Define a function calculate_average(marks)
- Accepts a list of marks and returns the average.

Define a function find_grade(average)
- Returns a grade based on the following rule:
```
90–100: A
80–89 : B
70–79 : C
60–69 : D
Below 60: F
```

Define a function display_result(name, average, grade)
- Prints a formatted message showing the student’s name, average score, and grade.

In the main program:
- Ask the user for their name.
- Take marks of 5 subjects as input (store in a list).
- Call the above functions to calculate and display the result.

# Custom module

# File handling

1. Read
2. Write

-> Normal text file, csv file, binary file

## Modes of operation

1. Read only (r)
2. Read and write (r+)
3. Write only (w)
4. Write and read (w+)
5. Append (a)
6. Append and read (a+)

For binary, just add b for example. rb, wb, rb+, wb+, ab, ab+

Steps:
1. Open file
2. Operation 
3. Close file

Q. In the above question, write data in file `student_record.txt` and read from file to display data