
# Keywords, Identifiers, Variables and Data types

Keywords: Reserved words that have a specific meaning, 35 keywords

Identifiers: User define names to represent a variable, function, class or any object

Naming convensions for identifiers:
- lowercase (a to z) and uppercase (A to Z) letters
- digits (0 to 9)
- Can have underscore (_)
- Can not use any other special characters
- Can not start with digits
- Should not use keywords as identifiers

Variables: Represents an entity whose value can change

In [7]:
import keyword 
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

## Working with variables

In [8]:
college = "Himalyan College"
print(college)

Himalyan College

In [9]:
college = "HCOE"
print(college)

HCOE

In [ ]:
# Valid
college1 = "HC"
college1

'HC'

In [13]:
# InValid
1college = "HC"
1college

SyntaxError: invalid decimal literal (2954862300.py, line 2)

In [11]:
_college = "New college"
print(_college)

New college

In [ ]:
college_name = "My college" # snake case
college_name
collegeName = "" # Camel case

'My college'

In [14]:
College = "PC"
print(College)

PC

In [15]:
print(COLLEGE)

NameError: name 'COLLEGE' is not defined

In [17]:
n1 = 5
n1

5

In [19]:
n1, n2, n3 = 4, 5, 6
print(n1, n2, n3)

4 5 6

In [39]:
# Assign name in a variable name, and print -> 
# My name is <name>

name = "Bishal Poudel"

# Without any format
print("My name is", name, "I am..")

# String concatination
print("My name is " + name)

# Formated
print(f"My name is {name}.\n\tI am...")

print("My name is {0}".format(name))

My name is Bishal Poudel I am..
My name is Bishal Poudel
My name is Bishal Poudel.
	I am...
My name is Bishal Poudel

## Data types
- string
- integer
- floating point
- boolean

In [42]:
type_of_name = type(name)
print(type_of_name)
type_of_name

<class 'str'>

str

In [43]:
print(type(n1))

<class 'int'>

In [44]:
print(type(5.5))

<class 'float'>

In [45]:
print(type(True))

<class 'bool'>

In [ ]:
# Type casting -> changing from one type to another
# 1. Implicit (automatically)
# 2. Explicit (manually)

n1 = 5
n2 = 6.5

print(f"n1 = {n1} of type: {type(n1)}")
print(f"n2 = {n2} of type: {type(n2)}")

n1 = 5 of type: <class 'int'>
n2 = 6.5 of type: <class 'float'>

In [ ]:
sum1 = n1 + n2  # implicit

print(f"sum1 = {sum1} of type: {type(sum1)}")

sum1 = 11.5 of type: <class 'float'>

In [48]:
sum2 = n1 + int(n2)  # explicit

print(f"sum2 = {sum2} of type: {type(sum2)}")

sum2 = 11 of type: <class 'int'>

In [49]:
number = "5"
int(number)

5

In [50]:
number = "five"
int(number)

ValueError: invalid literal for int() with base 10: 'five'

In [51]:
5 == 5

True

# Operators
1. Arithmetic
2. Relational/Comparision
3. Assignment
4. Logical

In [54]:
4 ** 2  # 4^2

16

In [ ]:
5 // 2

2

In [ ]:
5 % 2 # Remainder

1

In [3]:
import math

In [64]:
math.exp(1)

2.718281828459045

In [65]:
math.sin(math.pi)

1.2246467991473532e-16

In [ ]:
math.log(10)

2.302585092994046

In [67]:
math.log10(10)

1.0

In [4]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fma', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [5]:
import cmath
print(dir(cmath))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atanh', 'cos', 'cosh', 'e', 'exp', 'inf', 'infj', 'isclose', 'isfinite', 'isinf', 'isnan', 'log', 'log10', 'nan', 'nanj', 'phase', 'pi', 'polar', 'rect', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau']

In [7]:
cmath.exp(0)

(1+0j)

In [8]:
import operator
operator.truediv(3, 2)

1.5

In [9]:
print(dir(operator))

['__abs__', '__add__', '__all__', '__and__', '__builtins__', '__cached__', '__call__', '__concat__', '__contains__', '__delitem__', '__doc__', '__eq__', '__file__', '__floordiv__', '__ge__', '__getitem__', '__gt__', '__iadd__', '__iand__', '__iconcat__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__inv__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__itruediv__', '__ixor__', '__le__', '__loader__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__name__', '__ne__', '__neg__', '__not__', '__or__', '__package__', '__pos__', '__pow__', '__rshift__', '__setitem__', '__spec__', '__sub__', '__truediv__', '__xor__', '_abs', 'abs', 'add', 'and_', 'attrgetter', 'call', 'concat', 'contains', 'countOf', 'delitem', 'eq', 'floordiv', 'ge', 'getitem', 'gt', 'iadd', 'iand', 'iconcat', 'ifloordiv', 'ilshift', 'imatmul', 'imod', 'imul', 'index', 'indexOf', 'inv', 'invert', 'ior', 'ipow', 'irshift', 'is_', 'is_not', 'isub', 'itemgetter', 'itruediv', 'ixor', 'le', 'length_hint', 'lshift', 'lt', 'matmul', 'methodcaller', 'mod', 'mul', 'ne', 'neg', 'not_', 'or_', 'pos', 'pow', 'rshift', 'setitem', 'sub', 'truediv', 'truth', 'xor']

# User Input and Exceptions

In [13]:
name = input("Enter your name")
print(f"Your name is {name}")

Your name is nnnnnn

In [25]:
# Take two numbers as input n1 nd n2
# Divide n1 by n2 and display answer

n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))

answer = n1 / n2
# answer = float(n1) / float(n2)

print(f"{n1} / {n2} = {answer}")

ValueError: could not convert string to float: 'five'

In [ ]:
# Exception handling

try:
    # code
except:
    # code if exception occur
finally:
    # must execute

In [28]:
try:
    n1 = float(input("Enter first number: "))
    n2 = float(input("Enter second number: "))

    answer = n1 / n2
    # answer = float(n1) / float(n2)

    print(f"{n1} / {n2} = {answer}")
except ValueError:
    print("Error: Input must be number")
except Exception as e:
    print(e)

4.0 / 3.0 = 1.3333333333333333